NODE_ENV=development
DATABASE_URL=your_database_url
PORT=8080
BCRYPT_SALT_ROUNDS=10

# Messaging service
TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_token
TWILIO_PHONE_NUMBER=twilio_phone_number
OTP_TTL=5 minutes # using ms library for conversion

# caching service
REDIS_URL=your_redis_url

# jwt
ACCESS_TOKEN_SECRET=access_token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret
ACCESS_TOKEN_EXPIRY=access_token_expiry
REFRESH_TOKEN_EXPIRY=refresh_token_expiry