# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
log/
*.gz

# OS junk
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build outputs
dist/
build/
tmp/
temp/

# TypeScript (if using)
*.tsbuildinfo

# PM2 logs (if using PM2 process manager)
pids/
*.pid
*.seed

# VSCode
.vscode/

# Docker
docker-compose.override.yml
*.local.yml

# Optional: MongoDB data
/data/db
/src/generated/prisma

/src/generated/prisma
